
.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #dbbe17;
  padding: 5px;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #e2e0c4;
}

.dropdown-p {
  text-align: center;
}

.display{
  display: block;
}
  
  